<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.radmanpooya.artina">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".api.Api"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_artina"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_artina_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Artina"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.ProductActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/mainStyle"/>
        <activity
            android:name=".activity.SectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/mainStyle" />
        <activity
            android:name=".activity.LearnListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/mainStyle" />
        <activity
            android:name=".activity.VerifyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/mainStyle" />
        <activity
            android:name=".activity.SendOtpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/mainStyle" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/mainStyle" />
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/mainStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>